### Proyecto Final - Ingenierìa de Datos

Para el proyecto se usarà informaciòn de la tienda ficticia Superstore, una cadena estadounidense que se encuentra en varios estados que ofrece una gran cantidad de productos. la tienda quiere empezar a utilizar su informaciòn para la toma de decisiones, y para esto requiere que se estructure de forma tal que permita hacerlo. Como cualquier negocio nuevo en esto, no saben exactamente por donde empezar, por lo que han contratado nuestro servicio para ayudarlos en entender lo que se tiene y como se puede utilizar.

Luego de algunas reuniones se logra entender la data actual del negocio, los datos actualmente se encuentran en archivos csv separados por varias categorìas, como productos, clientes, ubicaciones, entre otros. Adicional cuentan con una tabla que tiene los registros de todas las compras. Estos archivos de dimensiones son actualizados eventualmente, pero sufren pocos cambios. El que tiene nuevos registros con màs constancia es el de clienetes. El documento con la informaciòn de las transacciones sì tiene nueva informaciòn todos los dìas.


Evaluando varias alternativas, se decide que se utilizaràn los servicios que se encuentran disponibles en Amazon Web Services, ya que permite almacenar archivos planos, creaciòn de data bases y data warehouses y podemos conectar todo usando scripts de python.  

El proyecto con la tienda Superstore, se basarà en subir todos los archivos a un bucket de S3, en diferentes carpetas segùn la naturaleza de la informaciòn, para posteriormente guardarlos en una base de datos de RDS, ya que estos estàn en primer o segunda forma normal. Luego, se haràn las transformaciones necesarias para unificar las dimensiones y se cargarà todo a un data warehouse, desde donde podremos conectar nuestra herramienta de inteligencia de negocio para empezar a responder preguntas sobre el comportamiento de nuestra informaciòn.

El negocio principalmente quiere saber lo siguiente:

1. En dònde en el paìs se genera la mayor ganancia, para enfocarse en no descuidar esas àreas
2. Què segmento de cliente es el que menos compra, para pensar en una campaña enfocada en ganar ese mercado
3. En què meses del año la demanda de productos es mayor, para anticipar el tema de inventarios
4. Los descuentos que se dan segùn el tipo de envio realizado, para no restar margen a los envìos que màs cuestan a la empresa
5. Evaluar si los productos que màs se venden, son los que màs ganancias generan

##### Dentro de AWS

Ya en AWS, se puede observar que la informaciòn quedò guardada de la siguiente forma:

Archivos en bucket de S3

<img src="imagen_1.png">

Bases de datos en RDS

<img src="imagen_2.png">

##### Dentro del Gestor para bases de datos

Se utilizò DBeaver como gestor de base de datos

Base de datos

<img src="imagen_3.png">

Data Warehouse

<img src="imagen_4.png">

##### Respondiendo las preguntas del negocio

In [2]:
# carga de librerias

import pandas as pd
import numpy as np
import boto3
import psycopg2
import configparser
import io
from sqlalchemy import create_engine
import pymysql

In [3]:
# cargar archivos de configuraciones

config = configparser.ConfigParser()
config.read("credenciales_proyecto.cfg")

['credenciales_proyecto.cfg']

In [4]:
# crear driver

mysql_driver = f"""mysql+pymysql://{config.get('RDS_MYSQL', 'DB_USER')}:{config.get('RDS_MYSQL', 'DB_PASSWORD')}@{config.get('RDS_MYSQL', 'DB_HOST')}:{config.get('RDS_MYSQL', 'DB_PORT')}/{config.get('RDS_MYSQL', 'DB_NAME')}"""

In [6]:
# importar las tablas del data warehouse y guardarlas en dataframes

sql_query_retail_sales_fact = "SELECT * FROM retail_sales_fact;"
df_retail_sales_fact = pd.read_sql(sql_query_retail_sales_fact, mysql_driver)

sql_query_product_dimension = "SELECT * FROM product_dimension;"
df_product_dimension = pd.read_sql(sql_query_product_dimension, mysql_driver)

sql_query_customer_dimension = "SELECT * FROM customer_dimension;"
df_customer_dimension = pd.read_sql(sql_query_customer_dimension, mysql_driver)

sql_query_ship_mode = "SELECT * FROM ship_mode;"
df_ship_mode = pd.read_sql(sql_query_ship_mode, mysql_driver)

sql_query_location_dimension = "SELECT * FROM location_dimension;"
df_location_dimension = pd.read_sql(sql_query_location_dimension, mysql_driver)

sql_query_date_dimension = "SELECT * FROM date_dimension;"
df_date_dimension = pd.read_sql(sql_query_date_dimension, mysql_driver)

##### Pregunta 1

En donde en el paìs se genera la mayor ganancia

In [13]:
df_pregunta_1 = (
    df_retail_sales_fact.merge(df_location_dimension, on="location_key", how="inner")[
        ["city", "profit"]
    ]
    .groupby("city")
    .sum("profit")
    .sort_values("profit", ascending=False)
)

In [14]:
df_pregunta_1

                 profit
city
New York City  62036.86
Los Angeles    30440.67
Seattle        29156.08
San Francisco  17507.30
Detroit        13181.77
...                 ...
Chicago        -6654.63
Lancaster      -7239.08
San Antonio    -7299.07
Houston       -10153.58
Philadelphia  -13837.85

[531 rows x 1 columns]

Se carga la informaciòn en una herramienta de visualizaciòn para una mejor exploraciòn, vemos que Nueva York, los Angeles y Seattle son las ciudades que màs ganancia nos dan

<img src="imagen_5.png">

##### Pregunta 2

Què segmento de cliente es el que menos compra

In [16]:
df_pregunta_2 = (
    df_retail_sales_fact.merge(df_customer_dimension, on="customer_key", how="inner")[
        ["segment", "sales"]
    ]
    .groupby("segment")
    .sum("sales")
    .sort_values("sales", ascending=True)
)

In [17]:
df_pregunta_2

                  sales
segment
Home Office   429653.19
Corporate     706146.36
Consumer     1161401.23

Vemos que el segmento de Home Office son los clientes que menos nos compran

<img src="imagen_6_1.png">

##### Pregunta 3

En què meses del año la demanda es mayor de productos

In [23]:
df_pregunta_3 = (
    df_retail_sales_fact.merge(df_date_dimension, on="date_key", how="inner")[
        ["month_", "month_name", "quantity"]
    ]
    .groupby(["month_", "month_name"])
    .sum("quantity")
    .sort_values("quantity", ascending=False)
)

In [24]:
df_pregunta_3

                   quantity
month_ month_name
11     November        5775
12     December        5419
9      September       5062
10     October         3104
5      May             2791
8      August          2784
7      July            2705
6      June            2680
3      March           2564
4      April           2447
1      January         1475
2      February        1067

Con ayuda de la gràfica identificamos que noviembre, diciembre y septiembre son los meses que màs unidades de nuestros productos se compran

<img src="imagen_7.png">

##### Pregunta 4

Descuentos que se dan segùn tipo de envìò realizado

##### Pregunta 5

Evaluar si los productos que màs se venden son los que màs ganancia dejan